name: Build PDF and Create Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Fonts
        run: |
          sudo apt-get update
          sudo apt-get install -y fonts-libertinus fonts-noto-cjk

      - name: Install Typst
        uses: typst-community/setup-typst@v3

      - name: Build PDF
        run: typst c main.typ --input handout=true

      - name: Create Release and Upload PDF
        uses: softprops/action-gh-release@v1
        with:
          files: main.pdf
